
.container {
    background-color: $SECOND_WHITE_COLOR;
    width: 90%;
    margin: 0 auto 2rem auto;
    padding: 0.1rem 1.3rem 0.1rem 1.3rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px rgb(100 ,100 ,100, 0.3);
}