
.navigation{
    background-color: $SECOND_WHITE_COLOR;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: -1;
    height: 5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    ul{
        display: flex;
        list-style: none;
        li{
            padding-right: .5rem;
            font-weight: bold;
        }
    }
}