
.register {
    width: 90%;
    margin: auto;
    text-align: center;
    &__modal{
        width: 100%;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 20;
        backdrop-filter: blur(1rem);
        position: fixed;
        section{
            padding: 1rem;
            margin-top: 50%;
            background-color: rgb(255, 255, 255);
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            article{
                padding: 1rem;
                margin-top: 0;
                p{
                    margin: 0.5rem;
                    font-weight: bolder;
                }
            }
            footer{
                width: 100%;
                padding-top: 1rem;
                button{
                    width: 50%;
                    border-color: transparent;
                    height: 3rem;
                    border-right-color: 19px black;
                }
            }
        }
    }
    &__showMembers{
        width: 90%;
        margin: auto;
        div{
            display: flex;
            height: 4rem;
            section {
                width: 50%;
                background-color: whitesmoke;
                font-size: 16px;
                text-align: left;
                padding-left: 0.5rem;
                button{
                    height: 4rem;
                    width: 100%;
                    background-color: $SECONDARY_COLOR;
                    color: white;
                    font-weight: bolder;
                    border-color: transparent;
                }
            }
        }
    }
}