.button {
    &__green{
        @include buttonStyle($SECONDARY_BUTTON);
        @include fontstyle('Sans', 18px, white);
        height: 30%;
        width: 100%;
        margin-top: 1.2rem;
    }
    &__red{
        @include buttonStyle($PRIMARY_BUTTON);
        @include fontstyle('Sans', 18px, white);
        height: 30%;
        width: 100%;
        margin-top: 1.2rem;
    }
  }