$PRIMARY_COLOR: #070C22;
$SECONDARY_COLOR: #00B2FF;
$GREEN_COLOR: #4BE781;
$WHITE_COLOR: #ecf4fc;
$SECOND_WHITE_COLOR: #fcfefe;
$GREY_COLOR: #D6D6D6;

$PRIMARY_BUTTON: #fc746c;
$SECONDARY_BUTTON: #01a604;
